body {
    background: #000;
}

.container {
    margin-left: 40%;
}

#win-state {
    color: rgb(250, 250, 250);
    margin-left: 75px;
}

#reset {
    margin-left: 90px;
}

#image-container {
    margin-left: 50px;
}